header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e1d708;
  background-color: #871594;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 1.3vw;
  outline: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.nav-btn {
  color: #871594;
  background-color: #e1d708;
  border: #e1d708 2px solid;
  padding: 5px 15px;
  border-radius: 5px;
  transition: .5s ease;
  max-width: 86px;
  min-width: 86px;
}

.nav-btn:hover{
  color: #e1d708;
  background-color: #871594;
  border: #e1d708 2px solid;
}
