.main-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
}

.cards {
  max-width: 80%;
  max-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.student-card {
  width: 40%;
  min-width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: #d40f17 0px 0px 7px 0px;
  border-radius: 10px;
  margin: 20px 0px;
}
.delete-btn {
  color: #ffffff;
  background-color: #d40f17;
  border: #d40f17 2px solid;
}

.delete-btn:hover {
  color: #d40f17;
  background-color: #ffffff;
  border: #d40f17 2px solid;
}
